<ul class="nav nav-tabs">
  <% @handbook_categories.each do |category| %>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        <%= category.title %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <% @documents = HandbookDocument.where(handbook_category_id: category.id) %>
        <% @documents.each do |document| %>
          <li>
            <%= link_to document.title, [category, document] %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
