<h3>Attachments</h3>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th width="80%">Name</th>
      <% if @currentUser.publisher? %>
        <th colspan="2"><%= link_to 'New', new_page_page_attachment_path(@page) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @page.page_attachments.each do |attachment| %>
      <tr>
        <td>
          <%= link_to attachment.title, attachment.attachment.url %>
        </td>
        <% if @currentUser.publisher? %>
          <td><%= link_to 'Edit', edit_page_page_attachment_path(@page, attachment) %></td>
          <td><%= link_to 'Delete', [@page, attachment], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
