<h1>Welcome</h1>
<p>
  Welcome to the EHS Staff Intranet.
</p>
<hr>
<h2>News</h2>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-6">
      <div class="post">
        <h3><%= link_to post.title, post %></h3>
        <p>
          <%= truncate(strip_tags(post.text), :length => 150, :separator => ' ') %>
        </p>
        <p>
          <%= link_to 'Read more...', post %>
        </p>
      </div>
    </div>
  <% end %>
</div>
<hr>
<h2>Search</h2>
<div class="searches">
	<form action="" method="post" class="search">
		<input name="query" type="text" class="form-control">
		<br>
		<label for="googleSearch" class="searchProvider">
			<input type="radio" name="sp" value="google" id="googleSearch" checked>
			Google
		</label>
		<label for="wikipediaSearch" class="searchProvider">
			<input type="radio" name="sp" value="wikipedia" id="wikipediaSearch">
			Wikipedia
		</label>
		<label for="wolframSearch" class="searchProvider">
			<input type="radio" name="sp" value="wolframalpha" id="wolframSearch">
			Wolfram Alpha
		</label>
		<br><br>
		<input class="btn btn-primary btn-large" type="submit" value="Search">
	</form>
</div>
